<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BannerModelMapper">
	<resultMap id="BannerModel" type="com.study.springmvc.dal.model.busi.banner.BannerModel">
		<result column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="type" property="type"/>
		<result column="state" property="state"/>
		<result column="channel" property="channel"/>
		<result column="image_url" property="imageUrl"/>
		<result column="value_type" property="valueType"/>
		<result column="value" property="value"/>
		<result column="remark" property="remark"/>
		<result column="create_time" property="createTime"/>
		<result column="create_by" property="createBy"/>
		<result column="update_time" property="updateTime"/>
		<result column="update_by" property="updateBy"/>
	</resultMap>
	
	<sql id="columnAll">
		id,name,type,state,channel,image_url,value_type,value,remark,create_time,create_by,update_time,update_by
	</sql>
	
	<select id="selectByKey" parameterType="long" resultMap="BannerModel">
		SELECT <include refid="columnAll"/> FROM busi_banner WHERE ID=#{value}
	</select>
	
	<insert id="insertBanner" parameterType="com.study.springmvc.dal.model.busi.banner.BannerModel"
		keyProperty="id"   useGeneratedKeys="true">
		INSERT INTO busi_banner(name,type,state,channel,image_url,value_type,value,remark,create_by,update_by) 
		VALUES(
			#{name},#{type},#{state},#{channel},#{imageUrl},#{valueType},#{value},#{remark},
			#{createBy},#{updateBy}
			)
	</insert>
	
	<select id="selectByType_State_Channle" parameterType="map" resultMap="BannerModel">
		SELECT <include refid="columnAll"/> FROM busi_banner 
		<!-- 去除语句中的第一个and或or，并自动添加where关键字 -->
		<where>
			<if test="type!=null and type!=''">
				and type=#{type}
			</if>
			<if test="state!=null and state!=''">
				and state=#{state}
			</if>
			<if test="channel!=null and channel!=''">
				and channel=#{channel}
			</if>
		</where>
		<if test="offset!=null and offset!=''">
			limit #{offset},#{limit}
		</if>
	</select>
	
	<update id="updateBannerState" parameterType="map">
		update busi_banner set state=#{state} where id=#{id} 
	</update>
	
	<update id="updateBanner" parameterType="com.study.springmvc.dal.model.busi.banner.BannerModel">
		update busi_banner
		<set>
			<if test="name!=null and name!=''">
				name=#{name},
			</if>
			<if test="type!=null and type!=''">
				type=#{type},
			</if>
			<if test="channel!=null and channel=''">
				channel=#{channel},
			</if>
			<if test="imageUrl!=null and imageUrl=''">
				image_url=#{imageUrl},
			</if>
			<if test="valueType!=null and valueType=''">
				value_type=#{valueType},
			</if>
			<if test="value!=null and value=''">
				value=#{value},
			</if>
			<if test="remark!=null and remark=''">
				remark=#{remark},
			</if>
			<if test="createBy!=null and createBy=''">
				create_by=#{createBy},
			</if>
			<if test="updateBy!=null and updateBy=''">
				update_by=#{updateBy},
			</if>
		</set>
		where id=#{id}
	</update>
	
</mapper>