<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CategoryModelMapper">
	<resultMap id="BaseResultMap" type="com.study.springmvc.dal.model.busi.product.CategoryModel">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="category_name" jdbcType="VARCHAR" property="categoryName" />
		<result column="category_code" jdbcType="VARCHAR" property="categoryCode" />
		<result column="category_desc" jdbcType="VARCHAR" property="categoryDesc" />
		<result column="category_status" jdbcType="VARCHAR" property="categoryStatus" />
		<result column="category_level" jdbcType="VARCHAR" property="categoryLevel" />
		<result column="category_parent_id" jdbcType="BIGINT" property="categoryParentId" />
		<result column="parents_id" jdbcType="VARCHAR" property="parentsId" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="create_by" jdbcType="BIGINT" property="createBy" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="update_by" jdbcType="BIGINT" property="updateBy" />
	</resultMap>
	<sql id="Base_Column_List">
		id, category_name, category_code, category_desc, category_status,category_level,
		category_parent_id, parents_id, create_time, create_by, update_time, update_by
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from busi_category
		where id = #{id,jdbcType=BIGINT}
	</select>
	<insert id="insert" parameterType="com.study.springmvc.dal.model.busi.product.CategoryModel">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into busi_category (category_name, category_code,category_desc,category_status, 
			category_level, category_parent_id,parents_id, create_by, update_by)
		values (#{categoryName,jdbcType=VARCHAR}, #{categoryCode,jdbcType=VARCHAR},	#{categoryDesc,jdbcType=VARCHAR},
			#{categoryStatus,jdbcType=VARCHAR}, #{categoryLevel,jdbcType=VARCHAR},#{categoryParentId,jdbcType=BIGINT},
			#{parentsId,jdbcType=VARCHAR},#{createBy,jdbcType=BIGINT},#{updateBy,jdbcType=BIGINT})
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.study.springmvc.dal.model.busi.product.CategoryModel">
		update busi_category
		<set>
			<if test="categoryName != null">
				category_name = #{categoryName,jdbcType=VARCHAR},
			</if>
			<if test="categoryCode != null">
				category_code = #{categoryCode,jdbcType=VARCHAR},
			</if>
			<if test="categoryDesc != null">
				category_desc = #{categoryDesc,jdbcType=VARCHAR},
			</if>
			<if test="categoryStatus != null">
				category_status = #{categoryStatus,jdbcType=VARCHAR},
			</if>
			<if test="categoryLevel != null">
				category_level = #{categoryLevel,jdbcType=VARCHAR},
			</if>
			<if test="categoryParentId != null">
				category_parent_id = #{categoryParentId,jdbcType=BIGINT},
			</if>
			<if test="parentsId != null">
				parents_id = #{parentsId,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=BIGINT},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=BIGINT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.study.springmvc.dal.model.busi.product.CategoryModel">
		update busi_category
		set category_name = #{categoryName,jdbcType=VARCHAR},
		category_code = #{categoryCode,jdbcType=VARCHAR},
		category_desc = #{categoryDesc,jdbcType=VARCHAR},
		category_status = #{categoryStatus,jdbcType=VARCHAR},
		category_level = #{categoryLevel,jdbcType=VARCHAR},
		category_parent_id = #{categoryParentId,jdbcType=BIGINT},
		parents_id = #{parentsId,jdbcType=VARCHAR},
		create_by = #{createBy,jdbcType=BIGINT},
		update_by = #{updateBy,jdbcType=BIGINT}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>