<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SpecificationOptionMapper">
	<resultMap id="BaseResultMap" type="com.study.springmvc.dal.model.busi.product.SpecificationOptionModel">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="option_name" jdbcType="VARCHAR" property="optionName" />
		<result column="option_code" jdbcType="VARCHAR" property="optionCode" />
		<result column="option_value" jdbcType="VARCHAR" property="optionValue" />
		<result column="option_desc" jdbcType="VARCHAR" property="optionDesc" />
		<result column="specification_id" jdbcType="BIGINT" property="specificationId" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="create_by" jdbcType="BIGINT" property="createBy" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="update_by" jdbcType="BIGINT" property="updateBy" />
	</resultMap>
	<sql id="Base_Column_List">
		id, option_name, option_code, option_value, option_desc,
		specification_id, create_time,create_by, update_time, update_by
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" />
		from busi_specification_option
		where id = #{id,jdbcType=BIGINT}
	</select>
	<insert id="insert"	parameterType="com.study.springmvc.dal.model.busi.product.SpecificationOptionModel">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into busi_specification_option (option_name, option_code,
			option_value,option_desc, specification_id,create_by,update_by
		)
		values (#{optionName,jdbcType=VARCHAR}, #{optionCode,jdbcType=VARCHAR},
			#{optionValue,jdbcType=VARCHAR},#{optionDesc,jdbcType=VARCHAR}, 
			#{specificationId,jdbcType=BIGINT},#{createBy,jdbcType=BIGINT},
			#{updateBy,jdbcType=BIGINT}
		)
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.study.springmvc.dal.model.busi.product.SpecificationOptionModel">
		update busi_specification_option
		<set>
			<if test="optionName != null">
				option_name = #{optionName,jdbcType=VARCHAR},
			</if>
			<if test="optionCode != null">
				option_code = #{optionCode,jdbcType=VARCHAR},
			</if>
			<if test="optionValue != null">
				option_value = #{optionValue,jdbcType=VARCHAR},
			</if>
			<if test="optionDesc != null">
				option_desc = #{optionDesc,jdbcType=VARCHAR},
			</if>
			<if test="specificationId != null">
				specification_id = #{specificationId,jdbcType=BIGINT},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=BIGINT},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=BIGINT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.study.springmvc.dal.model.busi.product.SpecificationOptionModel">
		update busi_specification_option
		set option_name = #{optionName,jdbcType=VARCHAR},
			option_code = #{optionCode,jdbcType=VARCHAR},
			option_value = #{optionValue,jdbcType=VARCHAR},
			option_desc = #{optionDesc,jdbcType=VARCHAR},
			specification_id = #{specificationId,jdbcType=BIGINT},
			create_by = #{createBy,jdbcType=BIGINT},
			update_by = #{updateBy,jdbcType=BIGINT}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>