<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserModelMapper">
	<resultMap id="UserModel" type="com.study.springmvc.dal.model.sys.user.UserModel">
		<result column="ID" property="id"/>
		<result column="USER_NO" property="userNo"/>
		<result column="REAL_NAME" property="realName"/>
		<result column="NICK_NAME" property="nickName"/>
		<result column="CERTI_TYPE" property="certiType"/>
		<result column="CERTI_NO" property="certiNo"/>
		<result column="MOBILE" property="mobile"/>
		<result column="PHONE" property="phone"/>
		<result column="EMAIL" property="email"/>
		<result column="addr" property="addr"/>
		<result column="state" property="state"/>
		<result column="pwd_login" property="pwdLogin"/>
		<result column="description" property="description"/>
		<result column="university_id" property="university.universityId"/>
		<result column="university_name" property="university.universityName"/>
		<result column="degree" property="degree"/>
		<result column="country_code" property="address.countryCode"/>
		<result column="country_name" property="address.countryName"/>
		<result column="province_code" property="address.provinceCode"/>
		<result column="province_name" property="address.provinceName"/>
		<result column="city_code" property="address.cityCode"/>
		<result column="city_name" property="address.cityName"/>
		<result column="county_area_code" property="address.countyAreaCode"/>
		<result column="county_area_name" property="address.countyAreaName"/>
		<result column="town_street_code" property="address.townStreetCode"/>
		<result column="town_street_name" property="address.townStreetName"/>
		<result column="village_road_code" property="address.villageRoadCode"/>
		<result column="village_road_name" property="address.villageRoadName"/>
		<result column="create_time" property="createTime"/>
		<result column="create_by" property="createBy"/>
		<result column="update_time" property="updateTime"/>
		<result column="update_by" property="updateBy"/>
	</resultMap>
	
	<sql id="columnAll">
		id,user_no,real_name,nick_name,certi_type,certi_no,mobile,phone,email,addr,state,pwd_login,
		description,university_id,university_name,degree,country_code,country_name,province_code,
		province_name,city_code,city_name,county_area_code,county_area_name,town_street_code,town_street_name,
		village_road_code,village_road_name,create_time,create_by,update_time,update_by
	</sql>
	
	<select id="selectByKey" parameterType="long" resultMap="UserModel">
		SELECT <include refid="columnAll"/> FROM sys_user WHERE ID=#{value}
	</select>
	
	<select id="selectByMobile" parameterType="long" resultMap="UserModel">
		SELECT <include refid="columnAll"/> FROM sys_user WHERE mobile=#{value}
	</select>
	
	<insert id="insertUser" parameterType="com.study.springmvc.dal.model.sys.user.UserModel"
		keyProperty="id"   useGeneratedKeys="true">
		INSERT INTO sys_user(user_no,real_name,nick_name,certi_type,certi_no,mobile,phone,email,
			addr,state,pwd_login,description,university_id,university_name,degree,country_code,
			country_name,province_code,province_name,city_code,city_name,county_area_code,
			county_area_name,town_street_code,town_street_name,village_road_code,village_road_name,
			create_by,update_by) 
		VALUES(
			#{userNo},#{realName},#{nickName},#{certiType},#{certiNo},#{mobile},#{phone},#{email},
			#{addr},#{state},#{pwdLogin},#{description},#{university.universityId},
			#{university.universityName},#{degree},#{address.countryCode},#{address.countryName},
			#{address.provinceCode},#{address.provinceName},#{address.cityCode},#{address.cityName},
			#{address.countyAreaCode},#{address.countyAreaName},#{address.townStreetCode},
			#{address.townStreetName},#{address.villageRoadCode},#{address.villageRoadName},
			#{createBy},#{updateBy}
			)
	</insert>
	
	<update id="updateUserPwdByMobile" parameterType="map">
		update sys_user set pwd_login=#{pwd} where mobile=#{mobile} 
	</update>
	
	<update id="updateUserNoById" parameterType="map">
		update sys_user set user_no=#{userNo} where id=#{id} 
	</update>
	
	<!-- 根据登录账号查询用户信息,accountNo:可以是手机号、用户编号、身份证号码、邮箱等 -->
	<select id="selectByAccountNo" parameterType="map" resultMap="UserModel">
		SELECT <include refid="columnAll"/> 
		FROM sys_user 
		WHERE (user_no=#{accountNo} or CERTI_NO=#{accountNo}  or MOBILE=#{accountNo} or MOBILE=#{accountNo})
		and state in
		<foreach item="item" index="index" collection="states" open="(" separator="," close=")">  
			#{item}  
		</foreach>  
	</select>
</mapper>